<div class="comment__item comment__item--parent media">
  <%= render "comments/avatar_comment", user: user %>
  <div class="media-body">
    <div class="comment__body">
      <div class="d-inline-block comment__info undefined mb-1">
        <%= link_to user.name, users_user_path(user), class: "comment__author font-weight-bold d-inline-block undefined" %>
        <div><span class="text-display undefined"><%= comment.content %></span></div>
      </div>
      <div class="d-flex align-items-center font-size-small">
        <div class="comment__actions">
          <%= link_to t("reply"), new_post_comment_path(post_id: comment.post.id, comment_id: comment.id), remote: true, class: "text-dark font-weight-semi-bold" %>
          <span class="text-dark">time ago</span>
        </div>
      </div>
    </div>
    <div class="comment__replies mt-2 sub_cmt_<%= comment.post.id %>_<%= comment.id %>">
      <% comment.sub_comments.each do |sub_cmt| %>
        <%= render "comments/sub_comment", sub_cmt: sub_cmt, user: sub_cmt.user, comment: comment %>
      <% end %> 
    </div>
  </div>
</div>
